
html,
body,
#root {
  margin: 0;
  padding: 0;

  min-height: 100%;
  width: 100%;

  background: linear-gradient(182deg,rgba(15, 17, 21, 1) 0%, rgba(29, 40, 61, 1) 35%, rgba(20, 44, 89, 1) 100%);
  color: #e5e7eb;

  font-family: "Inter", "Segoe UI", sans-serif;
}